body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    height: 18%;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

main {
    top: 20%;
    height: 56%;
    display: flex;
    align-items: center;
}

footer {
    height: 18%;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

content {
    flex: 1;
    border-right: solid rgb(53, 53, 53) 10px;
    border-radius: 50%;
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0px 15px 0px 15px;
}

.project-window {
    height: 40vh;
    width: 40vh;
    border: solid 4px silver;
    border-radius: 5%;
    padding: 5px 10px 5px 10px;
}

.inflated {
    position: absolute;
    z-index: 10;
    width: 70%; 
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    background-color: gray;
}

.navigation-arrow img {
    display: block;
    margin: 15px;
    transition: transform 0.2s, filter 0.2s;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.navigation-arrow:active img {
    transform: translateY(2px);
    filter: none;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/* aside content */

aside {
    display: flex;
    position: relative;
    margin-left: 20px;
    overflow: hidden;
}

#circle {
    border: 5px double silver;
    border-radius: 10%;
    overflow: hidden;
}

#slider-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 8vh;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    border: 1px solid silver;
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: left 0.3s ease;
}

#circle:hover #slider-button {
    left: 0px;
}